# SPDX-FileCopyrightText: 2020-2023 CERN
# SPDX-FileCopyrightText: 2023 GSI Helmholtzzentrum für Schwerionenforschung
# SPDX-FileNotice: All rights not expressly granted are reserved.
#
# SPDX-License-Identifier: GPL-3.0-or-later OR EUPL-1.2+

# Caches and build directories.
__pycache__
build/
dist/
*.egg-info/
docs/html/

# Vim-Gutentags temp files.
tags
tags.lock
tags.temp
