### generated_by: acc-py app lock
### base_python: 2023.06
### reqs: eJx1Uctu4yAU3fsrLK+N5UfTzqglH9BVu45GEZBrh5ZX4aYdusi39+JE6oxGI8QC7uG8eHzKAYYzH7q+esrPuDnzTTeMlVDqQx8WwLQTIeznKCy0SxTh2Bq/7JV3yRtoTRL7BAYU+thGKVSbVARw6ejx15lPxKogOmuY8nrL++7nH2fmA2qrPyGmnfQyv4n2OoREPDrkNr0S5kL0FxU7oTZpZwUG49Fo2YYX8tKG/CKCogd9V7S1DT6WMbOA4iBQbInq9r4OGY/e7d9JWntXP9TN1P1oKneyIZcyxr4KmYJK71+L+lQlFNIAk4LiagdpOvORrjEH7RYGv5FCE1Xa8pv/CQxDs0ZgKSTaRiNCLCUwcO+cLPcE+UZ8JiaMXpwFtyJKqE13U5G8UBOTIGxxwvDkyML6hd1YhSSLm8iEO7AIylt56bkAaFUL+Hn+rp75ecULhWSUycziyra6uZgxoCMjhEsz4VfNq527rvSEkHDLb7v+vl6Zas7rplw21yF7w1LL+M/8C1+/2/U=
acc-app-optimisation
accwidgets==3.0.26
cern-leir-transfer-line-env==0.7.0
cern-sps-splitter-opt-env==0.0.11
cern-sps-zs-alignment-env==0.5.4
cernml-coi==0.9.5
cernml-coi-optimizers==3.0.0
cernml-coi-utils==0.3.0
cernml-extremum-seeking==4.1.0
charset-normalizer==3.4.6
cloudpickle==3.1.2
cmmnbuild-dep-manager==2.16.0
colorama==0.4.6
contourpy==1.3.3
cuda-bindings==13.2.0
cuda-pathfinder==1.4.4
cuda-toolkit==13.0.2
cycler==0.12.1
Farama-Notifications==0.0.4
filelock==3.25.2
fonttools==4.62.1
fsspec==2026.2.0
geoff-optimizer-of-extraction-by-ring==0.0.1
gymnasium==0.29.1
idna==3.11
Jinja2==3.1.6
joblib==1.5.3
jpype1==1.6.0
kiwisolver==1.5.0
linac3-beamline-tuning==1.0.2
MarkupSafe==3.0.3
matplotlib==3.10.8
mpmath==1.3.0
networkx==3.6.1
nvidia-cublas==13.1.0.3
nvidia-cuda-cupti==13.0.85
nvidia-cuda-nvrtc==13.0.88
nvidia-cuda-runtime==13.0.96
nvidia-cudnn-cu13==9.19.0.56
nvidia-cufft==12.0.0.61
nvidia-cufile==1.15.1.6
nvidia-curand==10.4.0.35
nvidia-cusolver==12.0.4.66
nvidia-cusparse==12.6.3.3
nvidia-cusparselt-cu13==0.8.0
nvidia-nccl-cu13==2.28.9
nvidia-nvjitlink==13.0.88
nvidia-nvshmem-cu13==3.4.5
nvidia-nvtx==13.0.85
packaging==25.0
pandas==3.0.1
pillow==12.1.1
pjlsa==0.2.18
psb-extr-and-recomb-optim==1.1.1
psutil==7.2.2
Py-BOBYQA==1.5.0
pyaml==26.2.1
pyjapc==2.9.0
pylogbook==3.9.0
pyparsing==3.3.2
PyQt5==5.15.11
PyQt5-Qt5==5.15.18
PyQt5_sip==12.18.0
pyqtgraph==0.14.0
pyrbac==1.4.1
python-dateutil==2.9.0.post0
pytz==2026.1.post1
PyYAML==6.0.3
qasync==0.24.0
QtAwesome==1.4.1
QtPy==2.4.3
requests==2.32.5
scikit-learn==1.8.0
scikit-optimize==0.9.0
setuptools==81.0.0
six==1.17.0
stable_baselines3==2.7.1
sympy==1.14.0
threadpoolctl==3.6.0
torch==2.11.0
triton==3.6.0
typing_extensions==4.15.0
urllib3==2.6.3
